body {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.wrapper {
    width: 90vw;
    height: calc(100vh - 20px);
    margin: 0 auto;
    padding: 10px;
    background: #fff;
}

.textarea {
    display: block;
    margin: 0 auto;
    height: 35%;
    width: 90%;
    font-size: 22px;
    padding: 15px;
    resize: none;
}

.keyboard {  
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    background-color: #fff;    
}

.keyboard__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keyboard__key {
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 60px;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    background-color:  #3db899;
    box-shadow: 3px 3px 3px #cbcbaa;
    cursor: pointer;
}

.active, .keyboard__key:active {
    background-color:  #216151;
    box-shadow: 3px 3px 3px #96967f;
    color: #fff;
    transition: all 0.1s ease-in;
    border-radius: 10px;
}

.keyboard__key_tab {
    flex-grow: 0.5;
}

.keyboard__key_capsLock, .keyboard__key_еnter, .keyboard__key_shift, .keyboard__key_backspace {
    flex-grow: 0.4;
}

.keyboard__key_space {
    flex-grow: 0.98;
}